div#login-box{
    padding-left : 750px;
    padding-top: 30px;
}

div#register-box {
    padding-left: 150px;
    padding-top: 30px;
}

button#login-button {
    font-size: 20pt;
}

button#register-button {
    font-size: 20pt;
}