div#add-sport{
    padding: 5px;
    margin-left: 740px;
    margin-right: 10px;
}

div#update-sport, div#delete-sport{
    padding: 5px;
    margin-left: 56px;
    margin-right: 10px;
}

button#sports-go-back {
    margin-left: 1800px;
}