div#add-facility{
    padding: 5px;
    margin-left: 740px;
    margin-right: 10px;
}

div#update-facility, div#delete-facility{
    padding: 5px;
    margin-left: 56px;
    margin-right: 10px;
}

button#facilities-go-back {
    margin-left: 1800px;
}

div#people-range-selector {
    padding-left: 125px;
    padding-top: 30px;
}