/*div#add-facility{*/
    /*padding: 5px;*/
    /*margin-left: 740px;*/
    /*margin-right: 10px;*/
/*}*/

div#update-reservation{
    padding: 5px;
    margin-left: 740px;
    margin-right: 10px;
}

div#delete-reservation{
    padding: 5px;
    margin-left: 56px;
    margin-right: 10px;
}

/*button#facilities-go-back {*/
    /*margin-left: 1800px;*/
/*}*/

div#user-reservation-text{
    padding-top: 45px;
    padding-bottom: 100px;
}

div#reservation-title {
    padding-top: 45px;
    padding-bottom: 100px;
}

div#start-date-box {
    padding-left: 40px;
}

div#end-date-box {
    padding-left: 40px;
    padding-top: 30px;
}

span#title {
    padding-bottom: 5px;
    font-style: italic;
}


div#start-time{
    padding-left: 60px;
}

div#end-time{
    padding-top: 196px;
    padding-left: 60px;
}

div#sports-combo-box {
    padding-left: 125px;
}

div#facilities-combo-box {
    padding-left: 125px;
    padding-top: 30px;
}

div#reservation-button {
    padding-left: 135px;
    padding-top: 30px;
}

button#create-reservation-button {
    /*border: 1px solid black;*/
    font-size: 20px;
    color: red;
}

button#user-create-reservation-btn{
    font-size: 20px;
    color: red;
}

div#user-create-reservation-box{
    padding-top: 40px;
    padding-left: 200px;
}

button#view-sport-chart-box {
    font-size: 20px;
    color: red;
}

button#view-facility-chart-box {
    font-size: 20px;
    color: red;
    padding-left: 50px;
}

div#view-reservations-chart{
    padding-left: 200px;
    padding-top: 20px;
}